    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* colors- primary   */
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    /* colors- neutral */
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);   
}
/* mobile-first */


.container-body {
    justify-content: center;
    background-color: var(--cream);
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
}
.container {
    background-color: var(--white);
    margin: 0 auto;
    border-radius: 2rem;
}
.container-image {
    width: 50%;
    overflow:hidden
}
